.header {
  display: grid;

  grid-template-areas: '. title socialIcons' '. navBar .';
  grid-template-columns: auto 1fr auto;

  padding-bottom: var(--wide-spacing);
  border-bottom: 1px solid var(--theme-light-color);

  position: sticky;
  top: 0;
  background-color: var(--theme-header-bg-color, white);
  z-index: 1;
}

.title {
  grid-area: title;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.socialIcons {
  grid-area: socialIcons;
  padding: var(--common-spacing);
  display: flex;
  gap: var(--common-spacing);
  margin: auto;

  li {
    margin: auto 0;
  }

  svg {
    font-size: 24px;
  }
}

@media (max-width: 800px) {
  .header {
    grid-template-areas: 'title navBar socialIcons';
    padding: 0;

    > nav {
      margin: auto;
    }

    .title {
      font-size: 1.5em;
      text-align: left;
      margin: auto 0;
      padding: var(--common-spacing);
    }
  }
}
