.container {
  margin: 0;
  padding: 0;

  ol {
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 1.5rem;
    padding-bottom: var(--narrow-spacing);
    border-bottom: 1px solid var(--theme-invisible-color);
  }
}
