.MainAdsBanner_container__YWe5C {
  padding: 20px 0;
}
.RaiseSection_section__FR7Qu {
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.5s ease-in;
}
.RaiseSection_raise__5fbS6 {
  transform: none;
  opacity: 1;
}
.Licenses_wrapper__fDoKO {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: auto;
}
.Licenses_licenseInfo__OcstK {
  color: var(--theme-color);
}
.Licenses_licenseInfo__OcstK summary {
  padding: var(--common-spacing) 0;
}
.Licenses_licenseInfo__OcstK a {
  color: var(--theme-light-blue);
}
