.label {
  display: inline-flex;
  width: 100%;
}

.icon {
  color: var(--theme-dark-color);
  margin: auto;
}

.input {
  flex: 1;
  border: none;
  background-color: transparent;

  outline: none;
  padding: var(--narrow-spacing);
}
