.container {
  padding: var(--wide-spacing);

  > ol {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: var(--narrow-spacing);
      padding: 0;
    }

    a {
      color: var(--color-light-gray);
      font-weight: 200;
    }

    a.active {
      color: var(--color-dark-gray);
      font-weight: 500;

      > li {
        border-bottom: 1px solid var(--color-dark-gray);
      }
    }
  }
}
