.navBar {
    grid-area: navBar;
    text-align: center;
  
    > ul {
      display: inline-flex;
      gap: var(--wide-spacing);
      margin: auto;
      padding: 0;
  
      font-weight: 500;
    }
  }