.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
}

.licenseInfo {
  color: var(--theme-color);

  summary {
    padding: var(--common-spacing) 0;
  }

  a {
    color: var(--theme-light-blue);
  }
}
