.container {
  display: grid;
  padding: var(--wide-spacing);
  border-top: 1px solid var(--color-light-gray);

  ul {
    margin: auto;
    padding: 0;
    display: inline-flex;
    gap: var(--wide-spacing);
  }

  svg {
    margin: auto;
    font-size: 1.5em;
    color: var(--color-gray);
  }

  li {
    margin: auto;
    display: inline-grid;

    > a {
      display: inline-grid;
      color: var(--color-gray);
    }

    .currentPage {
      background-color: var(--color-blue);
      padding: var(--narrow-spacing) var(--common-spacing);
      border-radius: 4px;
      color: white;
    }
  }
}
