.footer {
  border-top: 1px solid var(--theme-light-color);
  background-color: var(--theme-footer-bg-color);

  > p {
    text-align: center;
    color: var(--theme-color);
    font-weight: 100;
  }
}
