.container {
  ul {
    margin: 0;
    padding: 0;
  }

  li > a {
    display: flex;
    gap: var(--common-spacing);
    border-bottom: 1px solid var(--theme-light-color);
    padding: var(--common-spacing);
    font-size: 0.9em;
  }
}

.category {
  flex: 1;
  margin: auto 0;
}

.newTag {
  background-color: rgb(253, 69, 74);
  padding: var(--narrow-spacing) var(--common-spacing);
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  font-style: italic;
  font-size: 0.7em;
  margin: auto 0;
}

.count {
  border-radius: 50px;
  background-color: var(--theme-color);
  color: #fff;

  width: 25px;
  height: 25px;

  display: grid;

  > span {
    margin: auto;
  }
}
