.thumbnailWrapper {
  position: relative;
  margin: var(--wide-spacing) 0 0 0;

  img {
    object-fit: cover;
    width: 100%;
    height: 315px;
  }

  @media (max-width: 800px) {
    img {
      object-fit: contain !important;
      height: auto;
    }
  }
}
.container {
  font-size: 0.9em;

  ol,
  li {
    margin-top: var(--narrow-spacing);
  }

  li {
    list-style: auto;
  }

  h1,
  h2,
  h3 {
    margin-top: 40px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h2,
  h3 {
    padding-bottom: var(--common-spacing);
    border-bottom: 1px solid var(--color-light-gray);
  }

  p {
    line-height: 25px;

    > code {
      background-color: #f7f6f3;
      padding: 2px 5px;
      border-radius: 4px;
      color: #eb5757;
    }
  }

  blockquote {
    padding: 0.8em 1em;
    margin: 0;
    border-left: 0.25em solid var(--color-light-gray);
    background-color: #f7f6f3;

    > p {
      margin: 0;
    }
  }

  a {
    font-style: italic;
    text-decoration: underline;
  }
}

.description {
  font-style: italic;
  color: var(--color-gray);
  font-size: 1rem;
}

.references {
  li {
    list-style: disc;
  }
}

.utterances {
  h2 {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 1.5em;
    padding-bottom: var(--common-spacing);
    border-bottom: 1px solid var(--color-light-gray);
  }
}
