.tag {
  display: block;
  padding: 8px;
  background-color: var(--theme-tag-bg-color);
  color: white;
  border-radius: 20px;
  min-width: 40px;
  text-align: center;

  cursor: pointer;

  &:before {
    content: '#';
  }
}
