:root {
  --narrow-spacing: 5px;
  --common-spacing: 10px;
  --wide-spacing: 20px;

  --theme-header-bg-color: #fff;
  --theme-bg-color: #fff;
  --theme-footer-bg-color: #fff;

  --theme-dark-color: #444;
  --theme-color: #666;
  --theme-light-color: #ccc;
  --theme-invisible-color: #eee;

  --theme-light-blue: #3699f9;
  --theme-blue: #0366d6;

  --theme-tag-bg-color: #000;

  --common-shadow: 2px 2px 2px var(--theme-color);

  --theme-font-color: #000;
  --theme-anchor-color: var(--theme-blue);

  --code-bg-color: #212836;

  --header-height: 140px;
  --footer-height: 50px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-header-bg-color: #222;
    --theme-bg-color: #222;
    --theme-footer-bg-color: #222;

    --theme-dark-color: #eee;
    --theme-color: #ccc;
    --theme-light-color: #666;
    --theme-invisible-color: #444;

    --theme-tag-bg-color: #444;

    --theme-font-color: #fff;
    --theme-anchor-color: #fff;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--theme-bg-color);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--theme-anchor-color);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1em;
}

h1,
h2,
h3,
p,
ul,
li,
table {
  color: var(--theme-font-color);
}

li {
  list-style: none;
}

#__next {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'header header' 'main aside' 'footer footer';
}

header {
  grid-area: header;
  height: var(--header-height);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

main {
  grid-area: main;
  width: 60vw;
  margin: 0 0 0 20vw;
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
}

aside {
  grid-area: aside;
  margin-top: var(--header-height);
  display: grid;
  justify-content: center;
}

footer {
  grid-area: footer;
  height: var(--footer-height);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 800px) {
  :root {
    font-size: 12px;
    --header-height: 48px;
    --footer-height: 38.8px;
  }

  main {
    margin: 0;
    width: 100%;
    padding: var(--header-height) var(--wide-spacing) var(--footer-height) var(--wide-spacing);
  }

  aside {
    display: none;
  }
}
